:root {
  --main-slide-width: calc(100vw / 2.1);
  --prev-slide-width: calc(100vw / 3);
  --next-slide-width: calc(100vw / 3);

  --translate-gap: calc(
    (
        100vw -
          (
            var(--main-slide-width) + var(--prev-slide-width) +
              var(--next-slide-width)
          )
      ) / 2
  );

  --prev-translate-gap: 100vw/5;
  --next-translate-gap: calc(-1 * 100vw / 15);

  --non-main-slide-rot: 70deg;
  --perspective: 92.593vw;
}

@media (max-width: 1024px) {
  :root {
    --main-slide-width: 80vw;
    --prev-slide-width: 30vw;
    --next-slide-width: 30vw;

    --translate-gap: calc(
      (
          100vw -
            (
              var(--main-slide-width) + var(--prev-slide-width) +
                var(--next-slide-width)
            )
        ) / 2
    );
    --prev-translate-gap: calc(100vw / 6);
    --next-translate-gap: calc(-1 * 100vw / 18);

    --non-main-slide-rot: 90deg;
    --perspective: 70vw;
  }
}

/* @media (max-width: 639px) {
  :root {
    --main-slide-width: 80vw;
    --prev-slide-width: 50vw;
    --next-slide-width: 50vw;

    --translate-gap: calc(
      (
          100vw -
            (
              var(--main-slide-width) + var(--prev-slide-width) +
                var(--next-slide-width)
            )
        ) / 2
    );
    --prev-translate-gap: calc(100vw / 6);
    --next-translate-gap: calc(-1 * 100vw / 18);

    --non-main-slide-rot: 50deg;
    --perspective: 70vw;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #450011;
  background-image: linear-gradient(to bottom right, #450011, #a00000);
  background-image: radial-gradient(#130004, #450011);
  background-position: fixed;
  /* background-image: url('./src/assets/images/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
  height: 100vh;
}

.main-heading {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 100px;
  text-align: center;
}

.icon {
  width: 100%;
  height: 100%;
  max-height: 50px;
  color: rgb(78, 78, 78);
}

.slogan {
  font-family: "Exo", sans-serif;
  color: #e5bfbf;
  font-size: 100px;
  text-align: center;
}

.slogan-highlight {
  font-weight: bold;
  color: #ed8f8f;
}

.sub-heading {
  font-family: "Outfit", sans-serif;
  color: white;
  font-size: 100px;
  font-weight: bold;
  text-align: left;
  margin: 50px;
  margin-top: 0;
  user-select: none;
}

.info-text-container {
  border-radius: 15px;

  background-image: linear-gradient(to bottom right, #450011, black);

  margin: 50px;
  margin-top: 0;
}

.info-text {
  font-family: "Mulish", sans-serif;
  text-align: left;
  color: white;
  background-color: black;
  border-radius: 15px;
  font-size: 20px;
  margin: 5px;
  padding: 15px;
}

.swiper-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 1);
}

.swiper-container {
  overflow-y: visible !important;
  overflow-x: clip;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  transform-style: preserve-3d;
}

.swiper-slide.swiper-slide-prev {
  display: flex !important;
  width: var(--prev-slide-width) !important;
  align-self: center;
  transform: translateX(var(--prev-translate-gap))
    translateX(var(--translate-gap)) !important;
}

.swiper-slide.swiper-slide-prev > img {
  transform: perspective(var(--perspective))
    rotateY(calc(-1 * var(--non-main-slide-rot)));
  transition: transform 0.5s ease;
}

.swiper-slide.swiper-slide-active {
  width: var(--main-slide-width) !important;
  transform: translateX(var(--translate-gap)) !important;
  z-index: 1;
}

.swiper-slide.swiper-slide-next {
  display: flex !important;
  width: var(--next-slide-width) !important;
  align-self: center;
  transform: translateX(var(--next-translate-gap))
    translateX(var(--translate-gap)) !important;
}

.swiper-slide.swiper-slide-next > img {
  transform: perspective(var(--perspective)) rotateY(var(--non-main-slide-rot));
  transition: transform 0.5s ease;
}

.swiper-slide:not(.swiper-slide-active):not(.swiper-slide-prev):not(
    .swiper-slide-next
  ) {
  opacity: 0.1;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.services-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 15px;
  overflow: hidden;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.services-item:hover {
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  scale: 1.03;
  transform: translate(-10px, -10px);
  transition: all 0.3s ease;
}

/* .services-item:hover .service-card-title {
  filter: url('#neon-glow');
} */

.service-card-img {
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
  object-position: bottom;
}

.service-card-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  color: white;
}

.service-card-title {
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.service-card-desc {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  margin-left: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.feedback-info {
  width: 100px;
  height: 100px;
}

.feedback-text {
  width: 100px;
  height: 100px;
}

.glow {
  margin: -15px;
  padding: -15px;
  transition: all 0.5s ease;
}

.glow > textarea {
  transition: all 0.5s ease;
  resize: none;
}

.glow:focus-within {
  box-shadow:
    10px 10px 10px #0094e8,
    10px 10px 15px #0094e8,
    10px 10px 20px #0094e8,
    10px 10px 25px #db004f,
    10px 10px 30px #db004f,
    10px 10px 35px #db004f;
  transform: translate(-10px, -10px);
  transition: all 0.5s ease;
}

.neon-glow {
  filter: url("#neon-glow");
}

.neon-glow-hover:hover {
  filter: url("#neon-glow");
}

.feedback-info > input {
  border-bottom: max(1px, 0.0625rem) solid #c50000;
  transition: all 0.5s ease-in-out;
}

.feedback-info > input:focus {
  border-bottom: max(1px, 0.0625rem) solid #ffff00;
  transition: all 0.5s ease-in-out;
}

.feedback-info > label {
  color: #ffff00;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out;
}

.feedback-info > label.active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

.github-logo {
  transition: all 0.5s ease;
}

.github-logo:hover {
  transition: all 0.5s ease;
}

@media (max-width: 400px) {
  .services-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 1470px) {
  .slogan {
    font-size: 75px;
    margin-top: 100px;
  }
}

@media (max-width: 639px) {
  .main-heading {
    font-size: 50px;
  }
  .slogan {
    font-size: 50px;
    margin-top: 100px;
  }
}
